/*  */

body {
  background-color: #cbd5e1;
}

/* header */

.header {
  height: 70px;
  background-color: rgb(22, 27, 34);
}

.header h1 {
  text-align: left !important;
  margin: 0;
  position: relative;
  top: 11px;
  left: 15px;
  color:white;
}

/* docs */

.docs {
  text-align: center;
}

/* editor */

.editor-page {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.editor-page h2 {
  text-align: center;
  position: relative;
  top: 20px;
}

.editor-buttons {
  position: relative;
  top: 35px;
  margin-inline: 3px;
}

.Editor{
   max-width: 800px;
   margin-left: auto;
   margin-right: auto;
   border-color: black;
}

.ql-toolbar {
  border-left-color: #cbd5e1 !important;
  border-right-color: #cbd5e1 !important;
  border-top-color: #cbd5e1 !important;
  border-bottom-color: black !important;
  text-align: center;
}

.ql-container {
  border-color: black !important;
  min-height: 200px;
  background-color: white;
}

.Save {
  margin-bottom: 20px;
}