@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


/*  */

body {
  background-color: #cbd5e1;
  font-family: 'Varela Round', sans-serif;
  box-sizing: border-box;
  font-weight: bold;
}



/* header */

.header {
  height: 70px;
  background-color: rgb(22, 27, 34);
}

.header h1 {
  text-align: left !important;
  margin: 0;
  position: relative;
  top: 11px;
  left: 15px;
  color:white;
}



/* login */

.input_error {
  font-size: 11px;
  color: red;
  font-weight: 100;
  margin: 0;
}

.logging_in {
  font-size: 11px;
  color: green;
  font-weight: 100;
  margin: 0;
}

.login {
  text-align: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 298px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color:white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login_buttons {
  display: flex;
  justify-content: space-evenly;
}

.login_buttons button {
  width: 100%;
  height: 40px;
  background-color: #e1e1e0;
  color: #777;
  border: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  letter-spacing: 1px;
  outline: 0;
  cursor: pointer;
  font-weight: 700;
}

.login_buttons button:nth-child(2) {
  background-color: #2c3a54;
  color: #cbd5e1;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
}

.login_buttons button:nth-child(1):hover {
  transform: translateY(1px);
}

.login_buttons button:nth-child(2):hover {
  transform: translateY(1px);
}

.login_buttons button:nth-child(1):active {
  transform: translateY(2px);
}

.login_buttons button:nth-child(2):active {
  transform: translateY(2px);
}

.loginfields {
  padding: 10px 30px 0 30px;
}

.loginfields h1 {
  margin-bottom: 19px;
}

.loginfields input {
  font-size: 12px;
  display: block;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  padding: 10px 1px;
  border: 0;
  border-bottom: 1px solid #747474;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}



/* docs */

.docs {
  text-align: center;
}

.create_alert {
  color: green;
  font-size: 12px;
}

.docs h2 {
  margin-bottom: 10px;
}



/* editor */

trix-editor {
  background-color: white!important;
  min-height: 15em!important;
  border: 1px solid #000!important;
}

trix-toolbar {
  margin-top: 15px;
}

.trix-button-group {
  border-bottom-color: #cbd5e1!important;
  gap: 1px;
}

.trix-button {
  border: 1px solid #000!important;
  border-radius: 5px!important;
}

.editor-page {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 15px;
}

.editor-page h2 {
  text-align: center;
  position: relative;
  top: 20px;
}

.editor-buttons {
  /*position: relative;
  top: 35px;*/
  margin-inline: 3px;
}

.Save {
  margin-bottom: 20px;
}



/* media-queries */

@media screen and (max-width: 730px) {
  .editor-buttons {

    margin-left: auto;
    margin-right: auto;
    position: unset;
    margin-inline: 3px;
  }

  .editor-buttons-parent {
    text-align: center;
  }

  .editor-page h2 {
    position: unset;
  }

}