@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


/*  */

body {
  background-color: #cbd5e1;

  box-sizing: border-box;
  font-weight: bold;
}



/* header */

.header {
  height: 70px;
  background-color: rgb(22, 27, 34);
}

.header h1 {
  text-align: left !important;
  margin: 0;
  position: relative;
  top: 11px;
  left: 15px;
  color:white;
}



/* login */

.input_error {
  font-size: 11px;
  color: red;
  font-weight: 100;
  margin: 0;
}

.logging_in {
  font-size: 11px;
  color: green;
  font-weight: 100;
  margin: 0;
}

.login {
  text-align: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 298px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color:white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login_buttons {
  display: flex;
  justify-content: space-evenly;
}

.login_buttons button {
  width: 100%;
  height: 40px;
  background-color: #e1e1e0;
  color: #777;
  border: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  letter-spacing: 1px;
  outline: 0;
  cursor: pointer;
  font-weight: 700;
}

.login_buttons button:nth-child(2) {
  background-color: #2c3a54;
  color: #cbd5e1;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
}

.login_buttons button:nth-child(1):hover {
  transform: translateY(1px);
}

.login_buttons button:nth-child(2):hover {
  transform: translateY(1px);
}

.login_buttons button:nth-child(1):active {
  transform: translateY(2px);
}

.login_buttons button:nth-child(2):active {
  transform: translateY(2px);
}

.loginfields {
  padding: 10px 30px 0 30px;
}

.loginfields h1 {
  margin-bottom: 19px;
}

.loginfields input {
  font-size: 12px;
  display: block;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  padding: 10px 1px;
  border: 0;
  border-bottom: 1px solid #747474;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}



/* docs */

.docsContainer,
.usersContainer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}


.docIcon:hover {
  transform: translateY(2px);
}

.docIcon,
.userIcon {
  width: 120px;
  height: 125px;
  border-radius: 5px;
  text-align: center;
}

.logoutIcon {
  width: 100px;
  height: 125px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.docIcon {
  cursor: pointer;
}

.docIcon img,
.userIcon img,
.logoutIcon img {
  width: 70px;
  margin-top: 15px;
}

.userIcon {
  padding-inline: 20px;
}

.docIcon p,
.userIcon p,
.logoutIcon p {
  margin: 0;
}

.docs {
  text-align: center;
  position: relative;
  bottom: 200px;
}


.create_alert {
  text-align: center;
  color: green;
  font-size: 12px;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.docs h2 {
  margin-bottom: 10px;
  margin-top: 30px;
}

.createDocInput input {
  padding: 8px 10px;
  margin: 8px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.createDocInput button,
.logout {
  background-color: #4CAF50;
  color: white;
  padding: 8px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout {
  margin: 20px 0 0;
  background-color:   #498bf4;
}

.createDocInput button:hover,
.logout:hover {
  transform: translateY(1px);
}

.createDocInput button:active,
.logout:hover {
  transform: translateY(2px);
}



/* editor */

trix-editor {
  background-color: white!important;
  min-height: 15em!important;
  border: 1px solid #000!important;
}

trix-toolbar {
  margin-top: 15px;
}

.trix-button-group {
  border-bottom-color: #cbd5e1!important;
  gap: 1px;
}

.trix-button {
  border: 1px solid #000!important;
  border-radius: 5px!important;
}

.editor-page {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 15px;
  position: relative;
  bottom: 200px;
}

.editor-page h2 {
  text-align: center;
  position: relative;
  top: 20px;
}

.editor-buttons {
  /*position: relative;
  top: 35px;*/
  margin-inline: 3px;
}

.Save {
  margin-bottom: 20px;
}

.back-button,
.save-button,
.delete-button {
  color: white;
  padding: 8px 15px;
  margin: 8px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.back-button:hover,
.save-button:hover,
.delete-button:hover {
  transform: translateY(1px);
}

.back-button:active,
.save-button:active,
.delete-button:active {
  transform: translateY(1px);
}

.back-button {
  background-color: #498bf4;
}

.save-button {
  background-color: #498bf4;
}

.delete-button {
  background-color: rgb(189, 0, 0);
}

.access-container input {
  padding: 8px 10px;
  margin: 8px 10px 0 0 ;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



/* media-queries */

@media screen and (max-width: 1150px) {
  .editor-page {
    bottom: 0!important;
  }
}

@media screen and (max-width: 730px) {
  .editor-buttons {

    margin-left: auto;
    margin-right: auto;
    position: unset;
    margin-inline: 3px;
  }

  .editor-buttons-parent {
    text-align: center;
  }

  .editor-page h2 {
    position: unset;
  }

  .editor-page {
    bottom: 0!important;
  }

  .docs {
    bottom: 0!important;
  }

}